<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FoodInfoMapper">
	
	<!--表名 -->
	<sql id="tableName">
		menu_food_info
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		id,	
		menu_name,	
		lifecycle,	
		cuisine_id,	
		type_id,	
		menu_id,	
		price,	
		create_time,	
		create_by,	
		modify_by,	
		modify_time,	
		image1,	
		image2
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{id},	
		#{menu_name},	
		#{lifecycle},	
		#{cuisine_id},	
		#{type_id},	
		#{menu_id},	
		#{price},	
		#{create_time},	
		#{create_by},	
		#{modify_by},	
		#{modify_time},	
		#{image1},	
		#{image2}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		menu_name,
		lifecycle,
		cuisine_id,
		type_id,
		price,
		create_time,
		create_by
		) values (
		#{menu_name},
		#{lifecycle},
		#{cuisine_id},
		#{type_id},
		#{price},
		#{create_time},
		#{create_by}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			id = #{id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			menu_name = #{menu_name},
			lifecycle = #{lifecycle},
			cuisine_id = #{cuisine_id},
			type_id = #{type_id},
			price = #{price},
			modify_by = #{modify_by},
			modify_time = #{modify_time}
		where 
		id = #{id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			id = #{id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT t.*,a.cuisine_name,b.food_type_name FROM menu_food_info t LEFT JOIN menu_cuisine a
		ON t.cuisine_id = a.id LEFT JOIN menu_type b
		ON t.type_id = b.id
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					 t.menu_name  LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or a.cuisine_name  LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or b.food_type_name  LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			)
		</if>
		<if test="pd.lifecycle !=null and pd.lifecycle !=''">
			AND t.lifecycle = #{pd.lifecycle}
		</if>
		<if test="pd.cuisine_id !=null and pd.cuisine_id !=''">
			AND a.id = #{pd.cuisine_id}
		</if>
		<if test="pd.type_id !=null and pd.type_id !=''">
			AND b.id = #{pd.type_id}
		</if>
		AND t.lifecycle !=2
        ORDER  BY id DESC
	</select>
	
	<!-- 列表(全部) 使用于 消费管理-->
	<select id="listAll" parameterType="pd" resultType="pd">
        SELECT t.id ,t.menu_name,a.food_type_name,b.cuisine_name FROM menu_food_info t LEFT JOIN menu_type a
        ON t.type_id = a.id LEFT JOIN menu_cuisine b
        ON t.cuisine_id = b.id WHERE t.lifecycle = 1
        ORDER BY t.id
    </select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

</mapper>