<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="usercollectionMapper">
	
	<!--表名 -->
	<sql id="tableName">
		nmw_user_collection
	</sql>
    <!-- 消费者信息表 -->
    <sql id="yh_userName">
        yh_user
    </sql>
    <!-- 技师信息表 -->
    <sql id="yh_adminName">
        yh_admin
    </sql>
    <sql id="nmw_orderName">
        nmw_order
    </sql>

    <!-- 字段 -->
    <sql id="Field">
        uid,
        empid,
        username,
        order_id,
        version,
        source,
        add_id,
        add_username,
        add_time,
        is_collect,
        del_date
    </sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
        #{uid},
        #{empid},
        #{username},
        #{order_id},
        #{version},
        #{source},
        #{add_id},
        #{add_username},
        #{add_time},
        #{is_collect},
        #{del_date},
    </sql>
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			id = #{id}
	</delete>
	
	<!-- 修改 取消收藏-->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
            is_collect = #{is_collect},
            del_date = #{del_date},
		id = id
		where
		id = #{id}
	</update>
	
	<!-- 通过用户ID查询关联的技师 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>,a.realname
		from 
		<include refid="tableName"></include> t LEFT  JOIN  <include refid="yh_adminName"></include> a
        ON t.empId = a.id
		where 
			t.uid = #{uid}
        AND t.is_collect = 1 ORDER  by t.add_time
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
        select t.id,t.age,t.is_foreigner,t.child_age,t.pet,t.hourse_type,t.hourse_area,t.customer_habits,DATE_FORMAT(t.create_time,'%Y-%m-%d %H:%i:%s') create_time,t.emp_no,t.is_marriage,a.mobile,a.realname custname,b.realname bjsname,t.order_id
        from
		<include refid="tableName"></include> t LEFT JOIN <include refid="yh_userName"></include> a ON t.uid = a.id
        LEFT JOIN <include refid="yh_adminName"></include> b on b.id= t.employee_id
        where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件-->
					t.emp_no LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					a.mobile LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
                      OR
                    a.realname LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
                      OR
                    b.realname LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
		</if>
        <if test="pd.age !=null and pd.age !=''">
            and t.age = #{pd.age}
        </if>
        <if test="pd.lastLoginStart !=null and pd.lastLoginStart !=''">
            and t.create_time &gt;= #{pd.lastLoginStart}
        </if>
        <if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''">
            and t.create_time &lt;= #{pd.lastLoginEnd}
        </if>
        order by t.id desc
	</select>


	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			Yhinfo_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>