<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BusAndSiteRelationMapper">

    <!-- 查询当前登录用户共有有效商户数 -->
    <select id="busCountlistAll" parameterType="pd" resultType="pd" >
       SELECT a.*,d.bus_name,d.city_id FROM (SELECT COUNT(bus_id) bus_count,bus_id FROM sys_user WHERE USER_ID = (SELECT USER_ID from sys_user WHERE USERNAME = #{username}) AND bus_id IS NOT NULL AND bus_id != 0 ) a LEFT JOIN nmw_alliance_business d ON a.bus_id = d.id
       WHERE d.bus_status = 1
      UNION
      SELECT a.*,d.bus_name,d.city_id FROM  (SELECT COUNT(bus_id) bus_count,bus_id FROM nmw_sys_user_business_relation WHERE boss_id = (SELECT USER_ID from sys_user WHERE USERNAME = #{username}) AND bus_status = 1 GROUP BY bus_id ) a LEFT JOIN nmw_alliance_business d ON a.bus_id = d.id
      WHERE d.bus_status = 1
    </select>

    <!-- 查询当前用户共有站点数 -->
    <select id="siteCountlistAll" parameterType="String" resultType="pd" >
        SELECT COUNT(site_sid) site_count,bus_id,site_name,site_sid from nb_site where bus_id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND SITE_STATUS = 1 GROUP BY SITE_SID
    </select>

    <!--查询所有技师列表 查询技师角色-->
    <select id="jslistsPageAll" parameterType="com.fh.util.PageData" resultType="pd">
        SELECT IFNULL(c.skill_count,0) skillcount,e.site_name,t.uuid, t.username, t.realname, t.mobile, t.notebook, t.last_login_time, t.login_count, t.status_is, t.is_working, t.createtime, t.xb, t.duty_type, t.ip, t.strait, t.skill_id, t.working_date, t.address, t.diploma, t.cover_date, t.birthday, t.ID_card, t.email, t.belongunit, t.experience, t.work_type, t.is_manager, t.referrer
        FROM yh_admin t LEFT JOIN account_role b ON t.id = b.account_id
        LEFT JOIN nb_skill_emps c ON t.username = c.empid
        LEFT JOIN nb_site e ON e.site_sid = t.belongunit
        WHERE 1 = 1 AND t. status_is = 'Y' AND b.account_id IS NOT NULL AND b.role_id = 8
        <if test="siteSid != null and siteSid.length > 0">
            AND t.belongunit IN
            <foreach item="item" index="index" collection="siteSid" open="(" separator="," close=")">
                #{item,jdbcType=VARCHAR}
            </foreach>
        </if>
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            <!--	根据需求自己加检索条件 -->
            t.realname LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            OR
            t.mobile LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            OR
            t.username LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
        <if test="lastLoginStart !=null and lastLoginStart !=''">
            and t.createtime &gt;= #{lastLoginStart}
        </if>
        <if test="lastLoginEnd!=null and lastLoginEnd!=''">
            and t.createtime &lt;= #{lastLoginEnd}
        </if>
        <if test="jnstatus!=null and jnstatus!='' and jnstatus == 1">
            AND c.skill_count is not null
        </if>

        <if test="jnstatus!=null and jnstatus!='' and jnstatus == 2">
            AND c.skill_count is null
        </if>

        ORDER  BY  t.createtime desc
    </select>

    <!--根据站点查询订单列表-->
    <select id="orderListAllPage" parameterType="com.fh.util.PageData" resultType="pd">
        SELECT r.*, o.id, o.product_id, o.is_cancel, o.product_type, o.site_id, o.start_day,o.start_time, o.city_name, o.city_id, o.address_user_sex, o.contact, o.address, o.order_channel, o.order_source, o.pay_source, o.pay_status, o.create_time, o.outService, o.is_evaluate, o.order_type, o.pclass1, o.has_collect_info, o.allot_no, TRUNCATE (o.tools_money / 100, 2) tools_money, TRUNCATE (o.premium_money / 100, 2) premium_money, TRUNCATE ((o.coupon_money + o.few_money) / 100, 2 ) coupon_money, o.address_username lxr, o.uid,
        CASE o.order_status WHEN '2' THEN '待确认' WHEN '3' THEN '待接受' WHEN '4' THEN '待上门' WHEN '5' THEN '待服务' WHEN '6' THEN '服务中' WHEN '7' THEN '服务完成' WHEN '8' THEN '取消' END order_status ,
        nb.site_name
        FROM nmw_order o LEFT JOIN
        ( SELECT a.order_sn, GROUP_CONCAT(a.cad, '|') result FROM ( SELECT t.order_sn, GROUP_CONCAT( t.pname, CASE valuationunitname WHEN '小时' THEN TRUNCATE (time / 60, 0) WHEN valuationunitname THEN time END, '/', t.valuationunitname, '/', TRUNCATE (t.price / 100, 2)) cad FROM order_product t LEFT JOIN nmw_order b ON t.order_sn = b.order_sn GROUP BY t.order_sn, t.pname, t.valuationunitname ) a
        GROUP BY a.order_sn ) r ON o.order_sn = r.order_sn
        LEFT JOIN nb_site nb ON nb.site_sid = o.site_id
        WHERE 1 = 1
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            <!--	根据需求自己加检索条件 -->
            o.id LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            OR
            o.order_sn LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            OR
            o.address LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            OR
            o.uid LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
       <!-- &lt;!&ndash; 订单状态Start&ndash;&gt;
        <if test="is_cancel != '' and is_cancel !=null and is_cancel ==0">
            AND o.is_cancel = 0
        </if>
        <if test="is_cancel != '' and is_cancel !=null and is_cancel ==1">
            AND o.is_cancel = 1
        </if>-->
        <!--<if test="is_cancel == '' || is_cancel ==null">
            AND o.is_cancel = 0
        </if>-->
        <!-- 订单状态END-->
        <!-- 支付状态Start-->
        <if test="order_status != '' and order_status !=null">
            AND o.order_status = #{order_status}
        </if>
        <!--<if test="order_status == '' || order_status ==null">
            AND o.order_status = 7
        </if>-->
        <!-- 支付状态END-->
        <if test="lastLoginStart !=null and lastLoginStart !=''">
            AND o.start_day &gt;= #{lastLoginStart}
        </if>
        <if test="lastLoginEnd!=null and lastLoginEnd!=''">
            AND o.start_day &lt;= #{lastLoginEnd}
        </if>
        <if test="siteSid != null and siteSid.length > 0">
            AND o.site_id IN
            <foreach item="item" index="index" collection="siteSid" open="(" separator="," close=")">
                #{item,jdbcType=VARCHAR}
            </foreach>
        </if>
        ORDER BY o.start_day DESC
    </select>


    <!-- 技师有效人数 -->
    <select id="jsCountlistAll" parameterType="String" resultType="pd">
        SELECT count(id) countNum FROM yh_admin WHERE belongunit IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
         AND status = 0 AND  xb = 0
        UNION ALL
        SELECT count(id) countNum FROM yh_admin WHERE belongunit IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND status = 0 AND xb = 1
        UNION ALL
        SELECT count(id) countNum FROM yh_admin WHERE belongunit IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND status = 0 AND xb = 2
    </select>

    <!-- 根据商户id查询关联的站点 -->
    <select id="findListSite" parameterType="pd" resultType="pd">
        SELECT site_sid,site_name FROM nb_site WHERE bus_id = #{bus_id} AND SITE_STATUS = 1
    </select>
    
    <!--根据技师编号查询技师拥有的技能编号-->
    <select id="queryNbSkillEmp" parameterType="pd" resultType="pd">
        SELECT skill_id from nb_skill_emps WHERE empid = #{empid}
    </select>
    <!--根据技能编号查询技能详情-->
    <select id="queryNbSkill" parameterType="pd" resultType="pd">
       SELECT skill_id,skill_name from nb_skill where skill_id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    
	<!-- fh313596790qq(青苔) -->
</mapper>