<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InterceptorMapper">
	

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		INSERT INTO sys_interceptor_statistics
			(username,
			ip,
			create_time,
			request_url,
			menu_name,
			user_id)
		VALUES
			(#{username},
			#{ip},
			now(),
			#{request_url},
			#{menu_name},
			#{user_id})
	</insert>


	<select id="queryUserIdByUsername" parameterType="pd" resultType="pd">
		SELECT * FROM sys_user WHERE USERNAME=#{username}
	</select>
	<select id="queryMenuNameByRequestURI" parameterType="pd" resultType="pd">
		SELECT * FROM sys_menu WHERE MENU_URL=#{request_url}
	</select>

</mapper>